html {
  background-color: #ece6d6;
}
h1 {
  color: #7a0909;
  font-family: "Amiri", serif;
  font-size: 4rem;
  margin-left: 5%;
  text-align: center;
}
h2 {
  color: #7a0909;
  font-family: "Amiri", serif;
  font-size: 1.2rem;
}

p {
  font-family: "Lato", sans-serif;
  line-height: 2;
}

/*****FORSIDE********/
.forside {
  grid-template-rows: 1fr 1fr;
  left: 12%;
  position: absolute;
  margin-bottom: 30%;
}

.forside_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 52%;
}

.forside_tekst {
  text-align: center;
  position: relative;
  margin-top: 10%;
}

.forside_grid :hover {
  color: #d36c08;
}

.hoppestjerne {
  z-index: 1;
  top: 87%;
  left: 37%;
  position: relative;
  cursor: pointer;
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pulse_kf {
  80% {
    scale: 0.9;
  }
  100% {
    scale: 0.9;
  }
}

/*****OM****/

.om_tekst {
  margin-left: 18%;
  top: 8%;
  position: relative;
  line-height: 2;
}
.om_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7%;
  margin-left: 3%;
  background-image: url(img/ramme.webp);
  background-repeat: no-repeat;
  background-position: -1%;
  background-size: 53.8%;
}

/****UX****/
.tekst_ux {
  margin-left: 4%;
  top: 20%;
  margin-right: 20%;
  position: relative;
  line-height: 2;
}

.ux_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 9%;
}

.tekst {
  margin-left: 8%;
  top: 20%;
  margin-right: 15%;
  position: relative;
  line-height: 1.8;
}

.ux_grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 9%;
  margin-right: 15%;
  gap: 3%;
  margin-top: 4%;
}

/****WEB***/

.tekst_web {
  margin-left: 5%;
  top: 9%;
  margin-right: 15%;
  position: relative;
  line-height: 2;
  margin-bottom: 25%;
}

.web_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 9%;
}

.link_web {
  color: #7a0909;
  font-family: "Amiri", serif;
  font-size: 1.2rem;
  position: relative;
}

/*****Portfolio******/

.portfolio_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.portfolio_1 :hover {
  color: #d36c08;
}

/********ANIMATION********/

.animation_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 5%;
}

.forside_04 {
  margin-left: 20%;
}

.animation_tekst {
  margin-left: 4%;
  top: -6%;
  margin-right: 15%;
  position: relative;
  line-height: 2;
  margin-bottom: 5%;
}
.animation_tekst2 {
  margin-left: 2%;
  margin-right: 15%;
  position: relative;
  line-height: 2;
}

.tlaloc {
  position: relative;
  top: -12%;
  left: -15%;
}

.sol {
  position: relative;
  top: -230%;
  left: 145%;
}

/*****INDHOLD****/

.indhold {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-bottom: 8%;
}

.video_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  margin-left: 22%;
  margin-bottom: 2%;
}

.video_tekst {
  margin-left: 15%;
  margin-right: 8%;
  margin-bottom: 10%;
}

.link_video :hover,
.link_web :hover,
.link_animation :hover,
.link_sesam :hover,
.link_ux :hover {
  color: #d36c08;
}

.sesam_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 8%;
  margin-right: 20%;
  gap: 2%;
}

.sesam_tekst1 {
  top: -5%;
  position: relative;
}

/*****Menu******/

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
  font-family: "Amiri", serif;
  font-size: 1.2rem;
}

.logo img {
  width: 80px;
}

nav {
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 800px) {
  .menu {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: #7a0909;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
  }

  .menu a:hover {
    color: #d36c08;
  }

  .burger-menu {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger-menu,
  .bar {
    width: 100%;
    height: 2px;
    background-color: #7a0909;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger-menu {
    display: none;
  }
}

/********* footer ********/
footer {
  padding-top: 2.5rem;
  margin-top: 4%;
  text-align: center;
}

.grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  font-family: "Amiri", serif;
}
/*******MOBIL*****/
@media (max-width: 758px) {
  .overskrift {
    font-size: 2.2rem;
    top: 27%;
  }
  .h2_overskrift {
    font-size: 0.7rem;
    top: 31%;
  }
  .h3 {
    font-size: 0.8rem;
  }
  .copy {
    font-size: 0.8rem;
    text-align: left;
    margin-right: 3rem;
    margin-left: 5rem;
  }

  .forside {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    margin-left: 5rem;
  }

  .portfolio_1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .om_grid {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
  }

  .portraet {
    width: 50%;
    height: 50%;
  }
  .web_grid {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
  }

  .ux_grid {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
  }

  .ux_grid_2 {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
  }

  .animation_grid {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
  }

  .sesam_grid {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
  }
}
