html {
  background-color: #ece6d6;
}
h1 {
  color: #7a0909;
  font-family: "Amiri", serif;
  font-size: 4rem;
  margin-left: 5%;
  text-align: center;
}
h2 {
  color: #7a0909;
  font-family: "Amiri", serif;
  font-size: 1.2rem;
}

/*****FORSIDE********/
.forside {
  left: 12%;
  position: relative;
}

.forside_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 10%;
}

.forside_grid :hover {
  color: #d36c08;
}

/*****OM****/

.om_tekst {
  margin-left: 22%;
  top: 15%;
  position: relative;
}
.om_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7%;
  margin-left: 3%;
  background-image: url(img/ramme.webp);
  background-repeat: no-repeat;
  background-position: 1%;
  background-size: 55%;
}

/****UX****/
.tekst_ux {
  margin-left: 8%;
  top: 20%;
  margin-right: 15%;
  position: relative;
  line-height: 2;
}

.ux_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 9%;
}

.tekst {
  margin-left: 8%;
  top: 20%;
  margin-right: 15%;
  position: relative;
  line-height: 1.8;
}

/****WEB***/

.tekst_web {
  margin-left: 5%;
  top: 9%;
  margin-right: 15%;
  position: relative;
  line-height: 2;
  margin-bottom: 25%;
}

.web_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 9%;
}

.link_web {
  color: #7a0909;
  font-family: "Amiri", serif;
  font-size: 1.2rem;
  position: relative;
}

/*****Portfolio******/

.portfolio_1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.portfolio_1 :hover {
  color: #d36c08;
}

/********ANIMATION********/

.animation_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 5%;
}

.forside_04 {
  margin-left: 20%;
}

.animation_tekst {
  margin-left: 4%;
  top: 1%;
  margin-right: 15%;
  position: relative;
  line-height: 2;
  margin-bottom: 25%;
}

/*****INDHOLD****/

.indhold {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-bottom: 8%;
}

.video_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  margin-left: 8%;
  margin-bottom: 15%;
}

.video_tekst {
  margin-right: 20%;
}

.link_video :hover,
.link_web :hover,
.link_animation :hover,
.link_sesam :hover {
  color: #d36c08;
}

.sesam_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 8%;
  margin-right: 20%;
  gap: 2%;
}

.sesam_tekst {
  margin-top: 10%;
}

/*****Menu******/

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
  font-family: "Yeseva One", serif;
  font-size: 1.2rem;
}

.logo img {
  width: 80px;
}

nav {
  display: flex;
  align-items: flex-end;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  display: block;
  padding: 10px;
  color: #7a0909;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #d36c08;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #7a0909;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
}

/********* footer ********/
footer {
  padding-top: 2rem;
  margin-top: 4.5%;
}

.grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer_logo {
  margin-left: 15%;
}

ul {
  list-style-type: none;
  font-family: "Amiri", serif;
}
