html {
  background-color: #ece6d6;
}
h1 {
  color: #7a0909;
  font-family: "Diphylleia", serif;
  font-size: 4rem;
  text-align: center;
}
h2 {
  color: #7a0909;
  font-family: "Amiri", serif;
  font-size: 1.5rem;
}

p {
  font-family: "Lato", sans-serif;
  line-height: 2;
}

/*****FORSIDE********/
.forside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forside_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 3%;
}

.forside_tekst {
  text-align: center;
  position: relative;
  margin-top: 5%;
}

.forside_grid :hover {
  color: #d36c08;
}

/***bevæg billede ved hover***/
.forside1_1,
.forside1_2 {
  position: relative;
  overflow: hidden;
}

.portfoliokoala {
  transition: transform 0.6s ease-out;
}

.forside1_1 :hover .portfoliokoala {
  transform: translate(5px, 5px);
}
.forside1_2 :hover .portfoliokoala {
  transform: translate(5px, 5px);
}
/******/

.hoppestjerne {
  z-index: 1;
  top: 20%;
  left: 35%;
  position: absolute;
  cursor: pointer;
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pulse_kf {
  100% {
    scale: 0.8;
  }
  100% {
    scale: 0.8;
  }
}

.knap {
  text-decoration: none;
  border-radius: 25px;
  padding: 15px 32px;
  text-align: center;
}

/*****OM****/

.om_tekst {
  margin-left: 17.2%;
  top: 8.5%;
  position: relative;

  font-size: 0.94rem;
  font-family: "Lato", sans-serif;
  line-height: 2;
}
.om_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7%;
  margin-left: 3%;
  background-image: url(assets/ramme.svg);
  background-repeat: no-repeat;
  background-position: 7.5%;
  background-size: 48.5%;
}

.cv_grid {
  margin-top: 5%;
  margin-left: 40%;
  background-image: url(img/baggrund.webp);
  background-repeat: repeat-y;
  background-position: 50%;
  background-size: 35%;
}

ul,
li {
  line-height: 2;
  font-family: "Lato", sans-serif;
  list-style-type: none;
}

/***'hover effekt på billede, her har jeg brugt viden fra codepen øvelsen vi lavede i tema02***/
.portraet {
  position: relative;
  overflow: hidden;
}

.portraet img {
  transition: transform 0.3s;
}

.tekst_overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 82%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.297); /* Baggrundsfarve og gennemsigtighed for tekstboksen */
  color: #ffffff; /* Tekstfarve */
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  line-height: 2;
  align-items: center;
  opacity: 0; /* Start med usynlig tekst */
  transition: opacity 0.4s; /* Tilføjer en overgangseffekt for tekstens visning */
}

.portraet:hover .tekst_overlay {
  opacity: 1; /* Vis tekst, når der hoveres */
}

/****UX****/
.tekst_ux {
  margin-left: 4%;
  top: -3%;
  margin-right: 20%;
  position: relative;
  line-height: 2;
}

.tekst_ux2 {
  top: -5%;
  position: relative;
  line-height: 2;
}

.ux_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 9%;
}

.tekst {
  margin-left: 8%;
  top: 20%;
  margin-right: 15%;
  position: relative;
  line-height: 1.8;
}

.ux_grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 9%;
  margin-right: 15%;
  gap: 3%;
  margin-top: 4%;
}

/****WEB***/

.tekst_web {
  margin-left: 5%;
  top: 9%;
  margin-right: 15%;
  position: relative;
  line-height: 2;
  margin-bottom: 25%;
}

.web_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 9%;
}

.link_web {
  color: #7a0909;
  font-family: "Amiri", serif;
  font-size: 1.2rem;
  position: relative;
}

/*****Portfolio******/

.portfolio_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  text-decoration: none;
}

.portfolio_1 a {
  text-decoration: none;
}

.portfolio_1 :hover {
  color: #d36c08;
}

/***bevæg billede ved hover***/
.portfolio1_1,
.portfolio1_2,
.portfolio1_3,
.portfolio1_4 {
  position: relative;
  overflow: hidden;
}

.portfoliokoala {
  transition: transform 0.6s ease-out;
}

.portfolio1_1 :hover .portfoliokoala {
  transform: translate(5px, 5px);
}
.portfolio1_2 :hover .portfoliokoala {
  transform: translate(5px, 5px);
}
.portfolio1_3 :hover .portfoliokoala {
  transform: translate(5px, 5px);
}
.portfolio1_4 :hover .portfoliokoala {
  transform: translate(5px, 5px);
}
/******/

/********ANIMATION********/

.animation_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 5%;
}

.forside_04 {
  margin-left: 20%;
}

.animation_tekst {
  margin-left: 4%;
  top: -6%;
  margin-right: 15%;
  position: relative;
  line-height: 2;
  margin-bottom: 5%;
}
.animation_tekst2 {
  margin-left: 2%;
  margin-right: 15%;
  position: relative;
  line-height: 2;
  font-family: "Lato", sans-serif;
}

.tlaloc {
  position: relative;
  top: -12%;
  left: -15%;
}

.sol {
  position: relative;
  top: -230%;
  left: 145%;
}

/*****INDHOLD****/

.indhold {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-bottom: 8%;
}

.video_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  margin-left: 22%;
  margin-bottom: 2%;
}

.video_tekst {
  margin-left: 15%;
  margin-right: 8%;
  margin-bottom: 10%;
}

.link_video :hover,
.link_web :hover,
.link_animation :hover,
.link_sesam :hover,
.link_ux :hover {
  color: #d36c08;
  text-decoration: none;
}

.sesam_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 8%;
  margin-right: 20%;
  gap: 2%;
}

.sesam_tekst1 {
  top: -5%;
  position: relative;
}

/*****Menu******/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav {
  display: flex;
  align-items: center;
}

.logo img {
  width: 90px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #7a0909;
  text-decoration: none;
  font-family: "Amiri", serif;
  transition: color 0.3s;
  font-size: 1.5rem;
  text-align: end;
}

.menu a:hover {
  color: #d36c08;
}

.burger {
  width: 30px;
  height: 50px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #7a0909;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
/********* footer ********/
footer {
  padding-top: 2.5rem;
  margin-top: 4%;
  text-align: center;
}

.grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  font-family: "Amiri", serif;
}
